.activeLink {
  padding: 15px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.link {
  padding: 15px;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}

.navigation {
  margin-bottom: 20px;
  padding: 20px 50px;
  background-color: rgb(43, 150, 243);
}
